*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Helvetica Neue", "Helvetica", 
        "Arial","Microsoft JhengHei","微軟正黑體", "sans-serif";
}
li{
    list-style: none;
}
input:focus{
    outline: none;
    /* font-size: 16px;
    padding-left: 20px;
    padding-right: 20px; */
}
a,a:link,a:visited{
    text-decoration: none;
    color:#0A1C2F;
}
body{
    background-color: #393F4D;
}
.wrap{
    width: 100%;
	height: 100%;
    background-size:cover ;
    position: absolute;
    
}



.container{
    max-width: 100vw;
}
/* page1 */

.bg{
    width: 100%;
    height: 100vh;
    position: sticky;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -999;
    opacity: 0.2;
}
.word{
    color:rgb(255, 255, 255);
    letter-spacing: 4px;
    font-size: 80px;
    font-weight: bold;
    position: absolute;
    top: 200px;
    left: 8vw;
}
.line{
    width: 18vw;
    border-bottom: 4px solid #FFD900;
}
.sentence{
    margin-top: 20px;
    margin-left: 3vw ;
    font-size: 25px;
}
.right{
    position: absolute;
    top:72px;
    right:0px;
    width: 50vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.login{
    color: white;
    width: 29vw;
    /* height: 420px; */
    background-color: #4A5065;
    border-radius: 9px ;
    padding: 1vw;
    margin-bottom: 10vh;

}
.login-title{
    border-bottom: 2px solid #FFD900;
    height: 8vh;
    width: 100%;
    text-align: center;
    font-size: 24px;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.top-tab-group label {
    width: 10vw;
}
.login-key{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}
.login-row{
    margin-top:5vh;
}
form input::placeholder{
    color: #f8f8f870;
}
form input{
    width: 17vw;
    max-width: 350px;
    font-size:18px;
    border: 0px solid rgb(219, 219, 219);
    border-radius: 4px ;
    padding: 5px;
    background-color:  #5F6573;
    color: #f8f8f8;
}
.btn{
    border: 0;
    border-radius: 0;
    width: 12vw;
    max-width: 200px;
    background-color: #FFD900;
    color: #393F4D;
}
.btn2{
    border: 0;
    border-radius: 0;
    width: 12vw;
    max-width: 200px;
    background-color: #f8f8f8;
    color: #393F4D;
}
.panel-group{
    display: inline-flex;
    flex-direction: column;
}
.panel-control {
    position:absolute;
    opacity:0;
}
.page1-content{
    display:none;
}

#radio_login:checked ~ .top-tab-group [for="radio_login"],
#radio_forget:checked ~ .top-tab-group [for="radio_forget"]
{
    color: #FFD900;
}
#radio_login:checked ~ .content-group .content_l,
#radio_forget:checked ~ .content-group .content_f
{
    display:block; 
}

/* page2 */
.topic-3{
    margin: auto;
    margin-top: 30px;
    margin-bottom: 60px; 
    width:17vw;
    height:65px;
    font-size: 40px;
    text-align: center;
    border-bottom: 4px solid #FFD900;
    color: white;
}
.page2{
    width: 100%;
    height: 100vh;
    padding-top: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
}
.professor{
    display:flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.photo{
    width: 25vw;
}
.intro{
    line-height: 45px;
    font-size: 20px;
    width: 40vw;
    margin-left: 5vw;
    color: white;
}
.big{
    font-size: 35px;
    line-height: 50px;
}

/* page3 */
.page3{
    width: 100%;
    height: 100vh;
    background-color: #4B5066;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    align-content: center;
}
.studies{
    width: 100%;
    display: inline-flex;
    justify-content: center;
    position: relative;
}
.card{
    margin-bottom: 50px;
    width: 14vw;
    height: 14vw;
    margin-left:0.5vw ;
    margin-right:1vw ;
    background-color: #0A1C2F;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}
.card2{
    margin-bottom: 50px;
    width: 14vw;
    height: 14vw;
    margin-left:0.5vw ;
    margin-right:1vw ;
    background-color: #0A1C2F;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    position: relative;
    top: 16.5vw;
}
.card img{
    width: 8vw;
    margin-bottom: 10px;
}
.card2 img{
    width: 8vw;
    margin-bottom: 10px;
}


/* page4 */
.page4{
    height: 100vh;
    padding-top: 10px;
    display: flex;
    flex-direction:column ;
    align-items: center;
}
.tab-group{
    width:27vw;
    height: 70px;
}
.tab-group label {
    background-color: #5F6573;
    display:inline-flex;
    width: 13vw;
    height: 40px;
    justify-content:center;
    align-items:center;
    /* bottom:-1px; */
    position:relative;
    font-size: 16px;
    color: white;
}
.content{
    display:none;
    width: 70vw;
}
#radio_s:checked ~ .tab-group [for="radio_s"],
#radio_r:checked ~ .tab-group [for="radio_r"]
{
    background-color: #FFD900;
    font-weight: bold;
    color: black;
}
#radio_s:checked ~ .content-group .content_s,
#radio_r:checked ~ .content-group .content_r
{
    display:block; 
}

.session{
    /* border: 1px solid #d6d6d6; */
    border-radius: 9px ;
    margin-bottom: 20px;
    color: white;
}
.people-title{
    background-color: #5F6573;
    border-radius: 9px 9px 0px 0px;
    line-height: 40px;
    height: 40px;
    width: 100%;
    text-align: center;
    font-size: 20px;
}
.people{
    width: 100%;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #4B5066;
    border-radius: 0px 0px 9px 9px;
}
.person{
    margin:1vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.person-image {
    display: block;
    width: 10vw;
    height: 10vw;
    min-width: 6vw;
    min-height: 6vw;
    max-width: 13vw;
    max-height: 13vw;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 10px;
}

.person-image:after {
    display: block;
    padding-bottom: 100%;
}

.person-image img {
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}



