*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Helvetica Neue", "Helvetica", 
        "Arial","Microsoft JhengHei","微軟正黑體", "sans-serif";
    color:white;
}
input:focus{
    outline: none;
    font-size: 16px;
    padding-left: 20px;
    padding-right: 20px;
}
a,a:link,a:visited{
    text-decoration: none;
    color:#0A1C2F;
}
body{
    background-color: #393F4D;
}
.wrap{
    width: 100%;
	height: 100%;
    background-size: cover ;
    position: absolute;
    
}

/***** Header START *****/
/* 有問題找王子瑜 */

header{
    width: 100%;
    align-content:flex-end;
    background-color: #4A5065;
    height: 70px;
    padding: 0px 13px 0px 13px;
    margin-bottom: 50px;
    box-shadow:black 0px 0px 4px;
    z-index: 200;
}
.top{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 1000px;
    max-width: 1600px; 
    margin: auto;
}

/* Logo */
.top img{
    width: 140px;
    position: relative;
    margin-right: 15px;
}

/* 導覽列 */
.top .list{
    display: flex;
    align-items: center;
    width: auto;
}
.top .topic{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    width: 120px;
    margin: auto 0;
    font-size: 18px;
    color: white;
    cursor: pointer;
}
.top .a-topic {
    height: 70px;
    /* bottom: 30px; */
}
.top a, .top a:link, .top a:visited {
    color: white;
    text-decoration: none;
}
.topic:hover {
    color: #FFD900;
}
.topic:hover > a {
    color: #FFD900;
}
.select {
    z-index: 5;
}
.select .dropdown {
    position: absolute;
    display: none;
}
.dropdown .topic {
    list-style: none;
    margin: 5px 0px 5px 0px;
}
.select:hover > .dropdown {
    display: flex;
    flex-direction: column;
    width: 130px;
    top: 70px;
    padding: 5px;
    background-color: #5F6573;
    background-color: #4A5065;
    box-shadow:black 2px 2px 3px;
    
}

/* 導覽列右邊區塊 */
.header-r{
    display: flex;
    align-items: center;
}

.header-r text{
    padding-right: 20px;
}

.member-info {
    display: flex;
    align-items: center;
}

.member-image {
    display: block;
    width: 40px;
    height: 40px;
    /* margin-right: 20px; */
    border-radius: 50%;
    overflow: hidden;
}

.member-image:after {
    display: block;
    padding-bottom: 100%;
}

.member-image img {
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.member-info label {
    font-size: 14px;
    margin: 0 20px 0 10px;
    color: white;
}

.register-btn{
    width: 110px;
    height: 27px;
    background-color: #FFD900;
    border: 0px;
    color: black;
    cursor: pointer;
}

/***** Header END *****/



/* container css  start*/
.container{
    max-width: 80vw;
    margin: auto;
}
.topic-2{
    margin: auto;
    margin-bottom: 60px; 
    width:17vw;
    height:63px;
    font-size: 40px;
    text-align: center;
    border-bottom: 4px solid #FFD900;
}
.insert{
    margin-top: 35px;
    display: flex;
    justify-content: center;
    cursor: pointer;
}
.insert-btn{
    width: 10vw;
    height: 35px;
    display:inline-flex;
    justify-content:center;
    align-items: center;
    background-color: #FFD900;
    border: 0px;
    color: black;
}
.content-group{
    margin-left:5vw;
}
.panel-group{
    display: inline-flex;
}
.search{
    display: inline-flex;
    width: 55vw;
    height: 50px;
}
.search select{
    padding-left: 10px;
    width: 23vw;
    height: 40px;
    border:0px;
    border-radius: 9px;
    font-size: 15px;
    background-color: #5F6573;
    outline: none;
    margin-right: 2vw;
}
.search2{
    display: flex;
    justify-content: flex-end;
    width: 40vw;
}
.search3{
    display: flex;
    justify-content: flex-end;
    width: 55vw;
}
::placeholder{
    color: rgb(223, 223, 223);
}
.search2 input{
    padding-right:60px;
    padding-left: 10px;
    width: 31vw;
    height: 40px;
    font-size: 15px;
    border:0px ;
    border-radius: 9px;
    background-color: #5F6573 ;
}
.search3 input{
    padding-right:60px;
    padding-left: 10px;
    width: 55vw;
    height: 40px;
    font-size: 15px;
    border:0px ;
    border-radius: 9px;
    background-color: #5F6573 ;
}
.search-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    position:absolute;
    width: 40px;
    height: 40px;
    border: 0px;
    background-color: transparent;
    cursor: pointer;
}
.button-image{
    width: 23px;
    height: 23px;
}
.panel-control {
    position:absolute;
    opacity:0;
}
.tab-group{
    width:13vw;
    height: 200px;
}
.tab-group label {
    background-color: #5F6573;
    display:inline-flex;
    width: 13vw;
    height: 50px;
    justify-content:center;
    align-items:center;
    /* bottom:-1px; */
    position:relative;
    font-size: 16px;
}

/* .tab-group [for="radio-c"] {
    background-color: #FFD900;
    color: black;
    font-weight: bold;
} */

#radio-c:checked ~ .tab-group [for="radio-c"],
#radio-s:checked ~ .tab-group [for="radio-s"],
#radio-p:checked ~ .tab-group [for="radio-p"],
#radio-e:checked ~ .tab-group [for="radio-e"],
#radio-se:checked ~ .tab-group [for="radio-se"]
{
    background-color: #FFD900;
    color: black;
    font-weight: bold;
}
/* #radio-c:checked ~ .content-group .content-c,
#radio-s:checked ~ .content-group .content-s,
#radio-p:checked ~ .content-group .content-p,
#radio-e:checked ~ .content-group .content-e,
#radio-s:checked ~ #btn-s
{
    display:block; 
} */

.card1{
    font-size: 18px;
    padding: 20px;
    margin-top: 15px;
    margin-bottom: 20px;
    background-color: #4B5066;
    width: 55vw;
    cursor: pointer;
    /* box-shadow:rgba(0, 0, 0, 0.589) 2px 2px 4px; */
}
table{
    table-layout: fixed;
    word-break: break-all;
}
.pic{
    margin-right: 10px;
    float: right;
}
.pic img{
    width: 35px;
    height: 35px;
    cursor: pointer;
}
td{
    padding: 10px ;
    vertical-align: top;
}
.td-title{
    width: 9vw;
    text-align: right;
}
.td-con{
    width: 12vw;
    text-align: left;
}
.intro{
    width: 40vw;
    padding: 10px 2vw 10px 10px;
    flex-wrap: wrap;
}
.intro-block {
    width: 40vw;
    display: inline-block;
    max-height: 60px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space:nowrap;
}
hr{
   border:1px solid #FFD900;
}
