*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Helvetica Neue", "Helvetica", 
        "Arial","Microsoft JhengHei","微軟正黑體", "sans-serif";
    color: white;
    }
input{
    outline: none;
    font-size: 16px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #71768C;
}
textarea{
    outline: none;
    padding: 10px;
    overflow-y: auto;
    background-color: #71768C;
}
textarea::-webkit-scrollbar {
    width: 5px;
}

textarea::-webkit-scrollbar-track{
   background: rgba(255, 255, 255, 0);
}

textarea::-webkit-scrollbar-thumb{
    background: rgba(180, 180, 180, 0.74); 
}
select{
    outline: none;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #71768C;
}
a,a:link,a:visited{
    text-decoration: none;
    color:#0A1C2F;
}
hr{
    border:1px solid #FFD900;
    margin-top: 20px;
    margin-bottom: 20px;
 }
body{
    background-color: #393F4D;
}
.wrapper{
    width: 100%;
	height: 100%;
    background-size:cover ;
    position: absolute;
    
}

/***** Header START *****/
/* 有問題找王子瑜 */

header{
    width: 100%;
    align-content:flex-end;
    background-color: #4A5065;
    height: 70px;
    padding: 0px 13px 0px 13px;
    margin-bottom: 50px;
    box-shadow:black 0px 0px 4px;
    z-index: 200;
}
.top{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 1000px;
    max-width: 1600px; 
    margin: auto;
}

/* Logo */
.top img{
    width: 140px;
    position: relative;
    margin-right: 15px;
}

/* 導覽列 */
.top .list{
    display: flex;
    align-items: center;
    width: auto;
}
.top .topic{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    width: 120px;
    margin: auto 0;
    font-size: 18px;
    color: white;
    cursor: pointer;
}
.top .a-topic {
    height: 70px;
    /* bottom: 30px; */
}
.top a, .top a:link, .top a:visited {
    color: white;
    text-decoration: none;
}
.topic:hover {
    color: #FFD900;
}
.topic:hover > a {
    color: #FFD900;
}
.select {
    z-index: 5;
}
.select .dropdown {
    position: absolute;
    display: none;
}
.dropdown .topic {
    list-style: none;
    margin: 5px 0px 5px 0px;
}
.select:hover > .dropdown {
    display: flex;
    flex-direction: column;
    width: 130px;
    top: 70px;
    padding: 5px;
    background-color: #5F6573;
    background-color: #4A5065;
    box-shadow:black 2px 2px 3px;
    
}

/* 導覽列右邊區塊 */
.header-r{
    display: flex;
    align-items: center;
}

.header-r text{
    padding-right: 20px;
}

.member-info {
    display: flex;
    align-items: center;
}

.member-image {
    display: block;
    width: 40px;
    height: 40px;
    /* margin-right: 20px; */
    border-radius: 50%;
    overflow: hidden;
}

.member-image:after {
    display: block;
    padding-bottom: 100%;
}

.member-image img {
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.member-info label {
    font-size: 14px;
    margin: 0 20px 0 10px;
    color: white;
}

.register-btn{
    width: 110px;
    height: 27px;
    background-color: #FFD900;
    border: 0px;
    color: black;
    cursor: pointer;
}

/***** Header END *****/



.container{
    max-width: 75vw;
    margin: auto;
}
.topic-2{
    margin: auto;
    margin-bottom: 20px; 
    width:17vw;
    height:63px;
    font-size: 40px;
    text-align: center;
    border-bottom: 4px solid #FFD900;
    color: white;
}
.card2{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    /* padding:20px;
    padding-top: 20px;
    padding-bottom: 20px; */
    margin: auto;
    margin-top: 15px;
    width: 65vw;
    /* box-shadow:rgba(0, 0, 0, 0.589) 2px 2px 4px; */
    color: white;
}
.left-block {
    display: flex;
    min-height: 380px;
    max-height: 380px;
}
.file-block {
    display: flex;
}
.right-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.right-top-block {
    display: flex;
    min-height: 210px;
    max-height: 210px;
    align-items: center;
}
.right-bottom-block {
    display: flex;
    min-height: 140px;
    max-height: 140px;
    align-items: center;
    margin-top: 10px;
}
.card {
    display: flex;
    flex-direction: column;
    background-color: #4B5066;
    margin: 0.5vw;
    padding: 2vw;
    overflow: auto;
    width: 75vw;
}
.card::-webkit-scrollbar {
    width: 5px;
}

.card::-webkit-scrollbar-track{
    background: rgba(255, 255, 255, 0);
}

::-webkit-calendar-picker-indicator {
    color: white;
    background-image: url(../icon/date.png);
}
.card::-webkit-scrollbar-thumb{
    background: white;
}

.t-title {
    display: flex;
    /* width: 7vw; */
    justify-content: flex-end;
    margin-right: 1vw;
    margin-bottom: 20px;
    font-size: 16px;
}
.t-content {
    width: 20vw;
    margin-bottom: 20px;
    vertical-align: top;
}
.m-title {
    display: flex;
    width: 7vw;
    justify-content: flex-end;
    margin-right: 1vw;
    margin-bottom: 10px;
    font-size: 16px;
}
.m-content {
    width: 8vw;
    margin-bottom: 10px;
    vertical-align: top;
}
.chk-file{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 1vw;
}
.chk-file td{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 35vw;
    margin-bottom: 10px;
}
/* table{
    table-layout: fixed;
    word-break: break-all;
    display: inline-flex;
} */
.pic{
    margin: auto;
    width: 65vw;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
}
.pic img{
    width: 35px;
    height: 35px;
    cursor: pointer;
    margin-right: 20px;
}
/* td{
    vertical-align: top;
    padding:10px ;
} */
.w-title {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    min-width: 100px;
    padding-bottom: 10px;
    padding-right: 5px;
    font-size: 16px;
}
.inputbox{
    width: 16vw;
    height: 28px;
    font-size: 15px;
    border:0px ;
    border-radius: 9px;
}
.inputbox2{
    vertical-align: top;
    min-width: 46vw;
    max-width: 46vw;
    min-height: 80px;
    font-size: 15px;
    border:0px ;
    border-radius: 9px;
}
.inputbox3{
    vertical-align: top;
    width: 8vw;
    height: 28px;
    font-size: 15px;
    border:0px ;
    border-radius: 9px;
}

.intro2{
    padding: 10px ;
    width: 70vw;
    flex-wrap: wrap;
}
.topic3{
    /* position: absolute; */
    display: inline-flex;
    writing-mode: vertical-lr;
    /* justify-content: center; */
    /* align-items: center; */
    /* margin-bottom: 100px; */
    margin-left: 5vw;;
    width: 5vw;
    font-size: 30px;
}
#members tr {
    display: flex;
    align-items: center;
}

.table2{
    /* position: relative;
    height: 100%; */
    display: inline-flex;
    width: 30vw;
    /* padding-left: 5vw; */
    /* overflow: auto; */
    /* justify-content: center; */
}
.check{
    margin-right: 1vw;
}
.chk {
    display: flex;
    align-items: center;
}
.chk td {
    display: flex;
    align-items: center;
    
}
.upload{
    background: none;
    width: 30vw;
}
.down{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    padding-bottom: 20px;
}
.save-btn{
    width: 10vw;
    height: 30px;
    margin-right: 3vw;
    text-align: center;
    background-color: #FFD900;
    border: 0px;
    font-size: 16px;
    color: black;
    cursor: pointer;
}
.cancel-btn{
    width: 10vw;
    height: 30px;
    margin-right: 3vw;
    text-align: center;
    background-color: #4A5066;
    border: 0px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}
