* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Helvetica Neue", "Helvetica", 
        "Arial","Microsoft JhengHei","微軟正黑體", "sans-serif";
}

body {
    background-color: #393F4C;
}

.wrap {
    width: 100%;
    height: 100vh;
}

/***** Header START *****/
/* 有問題找王子瑜 */

header{
    width: 100%;
    align-content:flex-end;
    background-color: #4A5065;
    height: 70px;
    padding: 0px 13px 0px 13px;
    margin-bottom: 50px;
    box-shadow:black 0px 0px 4px;
    z-index: 200;
}
.top{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 1000px;
    max-width: 1600px; 
    margin: auto;
}

/* Logo */
.top img{
    width: 140px;
    position: relative;
    margin-right: 15px;
}

/* 導覽列 */
.top .list{
    display: flex;
    align-items: center;
    width: auto;
}
.top .topic{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    width: 120px;
    margin: auto 0;
    font-size: 18px;
    color: white;
    cursor: pointer;
}
.top .a-topic {
    height: 70px;
    /* bottom: 30px; */
}
.top a, .top a:link, .top a:visited {
    color: white;
    text-decoration: none;
}
.topic:hover {
    color: #FFD900;
}
.topic:hover > a {
    color: #FFD900;
}
.select {
    z-index: 5;
}
.select .dropdown {
    position: absolute;
    display: none;
}
.dropdown .topic {
    list-style: none;
    margin: 5px 0px 5px 0px;
}
.select:hover > .dropdown {
    display: flex;
    flex-direction: column;
    width: 130px;
    top: 70px;
    padding: 5px;
    background-color: #5F6573;
    background-color: #4A5065;
    box-shadow:black 2px 2px 3px;
    
}

/* 導覽列右邊區塊 */
.header-r{
    display: flex;
    align-items: center;
}

.header-r text{
    padding-right: 20px;
}

.member-info {
    display: flex;
    align-items: center;
}

.member-image {
    display: block;
    width: 40px;
    height: 40px;
    /* margin-right: 20px; */
    border-radius: 50%;
    overflow: hidden;
}

.member-image:after {
    display: block;
    padding-bottom: 100%;
}

.member-image img {
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.member-info label {
    font-size: 14px;
    margin: 0 20px 0 10px;
    color: white;
}

.register-btn{
    width: 110px;
    height: 27px;
    background-color: #FFD900;
    border: 0px;
    color: black;
    cursor: pointer;
}

/***** Header END *****/

/***** Container START *****/
.container {
    position: relative;
    width: 80vw;
    margin: 0 auto;
    min-width: 1000px;
    max-width: 1600px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.title {
    margin-bottom: 60px;
    border-bottom: 4px solid #FFD900;
    width: 17vw;
    text-align: center;
    font-size: 40px;
}

.content {
    width: 80vw;
    display: flex;
    justify-content: space-between;
}

/* 側欄 */
.sideBar {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 13vw;
    height: 300px;
    background-color: #5F6573;
    /* z-index: -1; */
}

.chk-condition {
    display: flex;
    flex-direction: column;
    /* padding: 40px; */
}

.condition {
    margin: 5px 0px 5px 0px;
}

input[type=checkbox] {
    background-color: #FFD900;
    border: 0;
    border-radius: 0;
    /* display: none; */
}

input[type=checkbox]:checked {
    background-color: #FFD900;
    border: 0;
    border-radius: 0;
    user-select: none;
}

.chk-word, .chk-word option {
    font-size: 18px;
    outline: none;
    border: 0;
}

select.chk-word {
    border-radius: 9px;
    outline: none;
    width: 9vw;
    height: 30px;
    background-color: #858B99;
    color: white;
}

/* 會員資料區塊 */
.members-data {
    width: 65vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    
}

.condi {
     display: flex;
}

/* .condition {
    display: flex;
    align-items: center;
    margin-left: 0.5vw;
    margin-right: 2vw;
} */

/* 搜尋列 */
.searchBlock {
    width: 65vw;
    height: 40px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

::placeholder {
    color: rgb(212, 212, 212);
    font-size: 15px;
}

.search {
    width: 65vw;
    height: 40px;
    border: 0;
    border-radius: 9px;;
    background-color: #858B99;
    color: white;
    padding-left: 10px;
    padding-right: 40px;
    outline: none;
    font-size: 16px;
}

.searchbtn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: rgba(255, 255, 255, 0);
    border: 0;
    cursor: pointer;
}

.searchbtn img {
    width: 23px;
}

.members {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
}

.member {
    /* margin-right: 1vw; */
    /* margin-bottom: 2px; */
    justify-content: flex-end;
    display: flex;
    width: 32vw;
    height: 200px;
    background-color: #4A5065;
    margin-bottom: 15px;
    cursor: pointer;
}

.create {
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.5;
}

.create img {
    width: 5vw;
    opacity: 0.5;
}

.personal {
    display: flex;
    width: 32vw;
    justify-content: center;
    align-items: center;
}

.person-image {
    display: block;
    width: 8vw;
    height: 8vw;
    min-width: 8vw;
    min-height: 8vw;
    max-width: 10vw;
    max-height: 10vw;
    margin: 50px 1.5vw 50px 1.5vw;
    border-radius: 50%;
    overflow: hidden;
}

.person-image:after {
    display: block;
    padding-bottom: 100%;
}

.person-image img {
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.person-info {
    width: 20vw;
}

.edit-btn {
    position: absolute;
    display: block;
    width: 30px;
    height: 30px;
    margin: 5px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
    float: right;
}

.edit-btn:after {
    display: block;
    padding-bottom: 100%;
}

.edit-btn img {
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

/* td {
    display: flex;
    align-items: center;
} */

td img {
    width: 1.5vw;
    margin-right: 0.5vw;
}

.t-name {
    font-size: 1.7vw;
    font-weight: bold;
    padding-bottom: 5px;
    
}

.t-main {
    font-size: 1.5vw;
    font-weight: bold;
    padding-bottom: 5px;
    color: white;
}

span {
    font-size: 1.1vw;
    font-weight: bold;
}

.t-title {
    display: flex;
    padding-bottom: 10px;
    font-size: 1vw;
    color: #858B99;
}

.t-content {
    display: flex;
    padding-bottom: 5px;
    font-size: 1.1vw;
    color: white;
}



/***** Container END *****/
