*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Helvetica Neue", "Helvetica", 
        "Arial","Microsoft JhengHei","微軟正黑體", "sans-serif";
    color: white;
}
input:focus{
    outline: none;
    /* font-size: 16px;
    padding-left: 20px;
    padding-right: 20px; */
}
a,a:link,a:visited{
    text-decoration: none;
    color:#0A1C2F;
}
body{
    background-color: #393F4C;
}
.wrap{
    width: 100%;
	height: 100%;
    background-size:cover ;
    position: absolute;
    
}

/***** Header START *****/
/* 有問題找王子瑜 */

header{
    width: 100%;
    align-content:flex-end;
    background-color: #4A5065;
    height: 70px;
    padding: 0px 13px 0px 13px;
    margin-bottom: 50px;
    box-shadow:black 0px 0px 4px;
    z-index: 200;
}
.top{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 1000px;
    max-width: 1600px; 
    margin: auto;
}

/* Logo */
.top img{
    width: 140px;
    position: relative;
    margin-right: 15px;
}

/* 導覽列 */
.top .list{
    display: flex;
    align-items: center;
    width: auto;
}
.top .topic{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    width: 120px;
    margin: auto 0;
    font-size: 18px;
    color: white;
    cursor: pointer;
}
.top .a-topic {
    height: 70px;
    /* bottom: 30px; */
}
.top a, .top a:link, .top a:visited {
    color: white;
    text-decoration: none;
}
.topic:hover {
    color: #FFD900;
}
.topic:hover > a {
    color: #FFD900;
}
.select {
    z-index: 5;
}
.select .dropdown {
    position: absolute;
    display: none;
}
.dropdown .topic {
    list-style: none;
    margin: 5px 0px 5px 0px;
}
.select:hover > .dropdown {
    display: flex;
    flex-direction: column;
    width: 130px;
    top: 70px;
    padding: 5px;
    background-color: #5F6573;
    background-color: #4A5065;
    box-shadow:black 2px 2px 3px;
    
}

/* 導覽列右邊區塊 */
.header-r{
    display: flex;
    align-items: center;
}

.header-r text{
    padding-right: 20px;
}

.member-info {
    display: flex;
    align-items: center;
}

.member-image {
    display: block;
    width: 40px;
    height: 40px;
    /* margin-right: 20px; */
    border-radius: 50%;
    overflow: hidden;
}

.member-image:after {
    display: block;
    padding-bottom: 100%;
}

.member-image img {
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.member-info label {
    font-size: 14px;
    margin: 0 20px 0 10px;
    color: white;
}

.register-btn{
    width: 110px;
    height: 27px;
    background-color: #FFD900;
    border: 0px;
    color: black;
    cursor: pointer;
}

/***** Header END *****/




/* container css  start*/
input{
    outline: none;
    font-size: 16px;
    padding-left: 10px;
    padding-right: 10px;
}
select{
    outline: none;
    padding-left: 10px;
    padding-right: 10px;
}
.container{
    width: 70vw;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.topic-2{
    margin: auto;
    margin-bottom: 60px; 
    width:17vw;
    height:63px;
    font-size: 40px;
    text-align: center;
    border-bottom: 4px solid #FFD900;
    color: white;
}
.setting{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #4A5065;
    margin: auto;
    font-size: 18px;
    padding:20px;
    width: 70vw;
    margin-bottom: 50px;
    /* box-shadow:rgba(0, 0, 0, 0.589) 2px 2px 4px; */
}
.card2{
    margin: auto;
    display: inline-flex;
    margin-top: 15px;
}
/* .pic{
    margin-right: 3vw;
    margin-left: 2vw;
}
.pic img{
    width: 15vw;
    cursor: pointer;
} */
.person-img{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 3vw;
    margin-left: 2vw;
}
.upload-btn {
    width: 70px;
    height: 18px;
    text-align: center;
    background-color: #FFD900;
    border: 0px;
    font-size: 13px;
    color: black;
    cursor: pointer;
}
.upload-real {
    display: none;
}
.pic {
    display: block;
    min-width: 15vw;
    min-height: 15vw;
    max-width: 15vw;
    max-height: 15vw;
    margin-bottom: 10px;
    /* margin: 50px 30px 50px 30px; */
    border-radius: 50%;
    overflow: hidden;
}
.pic:after {
    display: block;
    padding-bottom: 100%;
}
.pic img {
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.small-btn {
    width: 70px;
    height: 18px;
    margin-left: 1vw;
    text-align: center;
    background-color: #FFD900;
    border: 0px;
    font-size: 13px;
    color: black;
    cursor: pointer;
}
.middle-btn {
    width: 70px;
    height: 30px;
    margin-left: 3vw;
    margin-right: 12px;
    text-align: center;
    background-color: #FFD900;
    border: 0px;
    font-size: 13px;
    color: black;
    cursor: pointer;
}
.card2 tr {
    display: flex;
}
td{
    padding: 10px;
    vertical-align: top ;
}
.t-title {
    display: flex;
    justify-content: flex-end;
    width: 6vw;
}
.t-content {
    display: flex;
    align-items: center;
    width: 35vw;
}
.skills {
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: row; */
    /* width: 30vw; */
}
.sk {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px 15px 5px 0px;
    /* flex-wrap: nowrap; */
}
.sk label {
    display: block;
    white-space: nowrap;
    margin-left: 3px;
}
.inputbox{
    width: 12vw;
    height: 28px;
    font-size: 15px;
    border: none;
    border-radius: 9px;
    background-color: #70768B;
}
.inputbox2{
    width: 25vw;
    height: 28px;
    font-size: 15px;
    border: none;
    border-radius: 9px;
    background-color: #70768B;

}
.inputbox3{
    vertical-align: top;
    width: 6.5vw;
    height: 28px;
    font-size: 15px;
    border: none;
    border-radius: 9px;
    background-color: #70768B;
    margin-left: 5px;
}
.inputbox4{
    vertical-align: top;
    width: 5vw;
    height: 28px;
    font-size: 15px;
    border: none;
    border-radius: 9px;
    background-color: #70768B;
    margin-left: 5px;
}
.inputbox5 {
    outline: none;
    min-width: 50vw;
    max-width: 50vw;
    height: 100px;
    font-size: 15px;
    border: none;
    border-radius: 9px;
    background-color: #70768B;
    padding: 5px;
}
.down{
    display: flex;
    justify-content: center;
    margin: auto;
    width: 40vw;
    margin-top: 50px;
}
.save-btn{
    width: 10vw;
    height: 30px;
    margin-right: 3vw;
    text-align: center;
    background-color: #FFD900;
    border: 0px;
    line-height: 30px;
    font-size: 18px;
    color: black;
}
.cancel-btn{
    width: 10vw;
    height: 30px;
    /* margin-right: 3vw; */
    text-align: center;
    background-color: #70768B;
    border: 0px;
    color: white;
    line-height: 30px;
    font-size: 18px;
}


/***** 會員資料 *****/

.panel-control {
    position:absolute;
    opacity:0;
}
.tab-group{
    display: flex;
    width: 70vw;
    height: 40px;
}
.tab-group label {
    background-color: #5F6573;
    display:flex;
    width: 11.67vw;
    height: 40px;
    justify-content:center;
    align-items:center;
    /* bottom:-1px; */
    position:relative;
    font-size: 16px;
}

/* .tab-group [for="radio-c"] {
    background-color: #FFD900;
    color: black;
    font-weight: bold;
} */

#radio-c:checked ~ .tab-group [for="radio-c"],
#radio-s:checked ~ .tab-group [for="radio-s"],
#radio-p:checked ~ .tab-group [for="radio-p"],
#radio-e:checked ~ .tab-group [for="radio-e"],
#radio-se:checked ~ .tab-group [for="radio-se"],
#radio-w:checked ~ .tab-group [for="radio-w"]
{
    background-color: #FFD900;
    color: black;
    font-weight: bold;
}

.content {
    display: none;
    margin-bottom: 20px;
}

#radio-c:checked ~ .content-group .content1,
#radio-s:checked ~ .content-group .content2,
#radio-p:checked ~ .content-group .content3,
#radio-e:checked ~ .content-group .content4,
#radio-se:checked ~ .content-group .content5,
#radio-w:checked ~ .content-group .content6
{
    display: flex;
}

.card{
    display: flex;
    font-size: 18px;
    padding:20px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: auto;
    margin-top: 15px;
    background-color: #4B5066;
    width: 70vw;
    /* box-shadow:rgba(0, 0, 0, 0.589) 2px 2px 4px; */
}
hr{
    border:1px solid #FFD900;
}
/* .card2 table {
    width: 65vw;
} */
.w-line {
    padding: 10px 0 20px 0;
}
.w-title {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    min-width: 150px;
    padding-bottom: 10px;
    padding-right: 5px;
    font-size: 18px;
}
.w-content {
    width: 50vw;
    min-width: 200px;
    padding-bottom: 10px;
    padding-right: 20px;
    word-break: break-all;
}
.w-center {
    display: flex;
    justify-content: center;
}
.file-btn {
    background-color: #70768B;
    color: white;
    height: 28px;
    font-size: 15px;
    border:0px ;
    border-radius: 9px;
    padding-right: 5px;
    padding-left: 5px;
    cursor: pointer;
}
