* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Helvetica Neue", "Helvetica", 
        "Arial","Microsoft JhengHei","微軟正黑體", "sans-serif";
}

body {
    background-color: #393F4C;
}

.wrap {
    width: 100%;
    height: 100vh;
}

/***** Header START *****/
/* 有問題找王子瑜 */

header{
    width: 100%;
    align-content:flex-end;
    background-color: #4A5065;
    height: 70px;
    padding: 0px 13px 0px 13px;
    margin-bottom: 50px;
    box-shadow:black 0px 0px 4px;
    z-index: 200;
}
.top{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 1000px;
    max-width: 1600px; 
    margin: auto;
}

/* Logo */
.top img{
    width: 140px;
    position: relative;
    margin-right: 15px;
}

/* 導覽列 */
.top .list{
    display: flex;
    align-items: center;
    width: auto;
}
.top .topic{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    width: 120px;
    margin: auto 0;
    font-size: 18px;
    color: white;
    cursor: pointer;
}
.top .a-topic {
    height: 70px;
    /* bottom: 30px; */
}
.top a, .top a:link, .top a:visited {
    color: white;
    text-decoration: none;
}
.topic:hover {
    color: #FFD900;
}
.topic:hover > a {
    color: #FFD900;
}
.select {
    z-index: 5;
}
.select .dropdown {
    position: absolute;
    display: none;
}
.dropdown .topic {
    list-style: none;
    margin: 5px 0px 5px 0px;
}
.select:hover > .dropdown {
    display: flex;
    flex-direction: column;
    width: 130px;
    top: 70px;
    padding: 5px;
    background-color: #5F6573;
    background-color: #4A5065;
    box-shadow:black 2px 2px 3px;
    
}

/* 導覽列右邊區塊 */
.header-r{
    display: flex;
    align-items: center;
}

.header-r text{
    padding-right: 20px;
}

.member-info {
    display: flex;
    align-items: center;
}

.member-image {
    display: block;
    width: 40px;
    height: 40px;
    /* margin-right: 20px; */
    border-radius: 50%;
    overflow: hidden;
}

.member-image:after {
    display: block;
    padding-bottom: 100%;
}

.member-image img {
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.member-info label {
    font-size: 14px;
    margin: 0 20px 0 10px;
    color: white;
}

.register-btn{
    width: 110px;
    height: 27px;
    background-color: #FFD900;
    border: 0px;
    color: black;
    cursor: pointer;
}

/***** Header END *****/

/***** Container START *****/
.container {
    position: relative;
    width: 80vw;
    margin: 0 auto;
    min-width: 1000px;
    max-width: 1600px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.title {
    margin-bottom: 60px;
    border-bottom: 4px solid #FFD900;
    width: 17vw;
    text-align: center;
    font-size: 40px;
}

.content {
    width: 55vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-size: 18px;
}

.columns {
    display: flex;
    width: 55vw;
    justify-content: center;
    /* height: 200px; */
    background-color: #4A5065;
    padding: 30px;
}

.column {
    margin: 10px 0px 10px 0px;
}
/* 
.column-left {
    display: flex;
    width: 27vw;
    flex-direction: column;
    padding: 3vw 1vw 3vw 3vw;
    align-items: flex-end;
}

.column-right {
    display: flex;
    width: 27vw;
    flex-direction: column;
    padding: 3vw 3vw 3vw 1vw;
    align-items: flex-end;
}

.column-right .column {
    display: flex;
    align-items: flex-start;
} */

.t-title {
    display: flex;
    justify-content: flex-end;
    width: 7vw;
    padding-bottom: 10px;
}

.t-content {
    padding-bottom: 10px;
}

.select-company {
    width: 38vw;
    height: 28px;
    outline: none;
    border: 0;
    border-radius: 9px;;
    background-color: #858B99;
    color: white;
    padding: 0px 10px 0px 10px;
    margin-left: 10px;
    font-size: 16px;
}
.select-member {
    width: 15vw;
    height: 28px;
    outline: none;
    border: 0;
    border-radius: 9px;;
    background-color: #858B99;
    color: white;
    padding: 0px 10px 0px 10px;
    margin-left: 10px;
    font-size: 16px;
}

::-webkit-calendar-picker-indicator {
    color: white;
    background-image: url(../icon/date.png);
}

.textBox {
    width: 15vw;
    height: 28px;
    outline: none;
    border: 0;
    border-radius: 9px;;
    background-color: #858B99;
    color: white;
    padding: 10px;
    margin-left: 10px;
    font-size: 16px;
}

.big-textBox {
    min-width: 38vw;
    max-width: 38vw;
    height: 150px;
    min-height: 100px;
    max-height: 200px;
    outline: none;
    border: 0;
    border-radius: 9px;;
    background-color: #858B99;
    color: white;
    padding: 10px;
    margin-left: 10px;
    overflow: auto;
    font-size: 16px;
}

.big-textBox::-webkit-scrollbar {
    width: 5px;
}

.big-textBox::-webkit-scrollbar-track{
    background: rgba(255, 255, 255, 0);
}

.big-textBox::-webkit-scrollbar-thumb{
    background: white;
}

.bottom-btn {
    display: flex;
    width: 25vw;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 18px;
}

.save-btn {
    width: 10vw;
    height: 30px;
    background-color: #FFD900;
    border: 0px;
    font-size: 18px;
    cursor: pointer;
}

.cancel-btn {
    width: 10vw;
    height: 30px;
    background-color: #4A5065;
    border: 0px;
    color: white;
    font-size: 18px;
    cursor: pointer;
}

/***** Container END ******/


