* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Helvetica Neue", "Helvetica", 
        "Arial","Microsoft JhengHei","微軟正黑體", "sans-serif";
}

body {
    background-color: #393F4C;
}

.wrap {
    width: 100%;
    height: 100vh;
}

/***** Header START *****/
/* 有問題找王子瑜 */

header{
    width: 100%;
    align-content:flex-end;
    background-color: #4A5065;
    height: 70px;
    padding: 0px 13px 0px 13px;
    margin-bottom: 50px;
    box-shadow:black 0px 0px 4px;
    z-index: 200;
}
.top{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 1000px;
    max-width: 1600px; 
    margin: auto;
}

/* Logo */
.top img{
    width: 140px;
    position: relative;
    margin-right: 15px;
}

/* 導覽列 */
.top .list{
    display: flex;
    align-items: center;
    width: auto;
}
.top .topic{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    width: 120px;
    margin: auto 0;
    font-size: 18px;
    color: white;
    cursor: pointer;
}
.top .a-topic {
    height: 70px;
    /* bottom: 30px; */
}
.top a, .top a:link, .top a:visited {
    color: white;
    text-decoration: none;
}
.topic:hover {
    color: #FFD900;
}
.topic:hover > a {
    color: #FFD900;
}
.select {
    z-index: 5;
}
.select .dropdown {
    position: absolute;
    display: none;
}
.dropdown .topic {
    list-style: none;
    margin: 5px 0px 5px 0px;
}
.select:hover > .dropdown {
    display: flex;
    flex-direction: column;
    width: 130px;
    top: 70px;
    padding: 5px;
    background-color: #5F6573;
    background-color: #4A5065;
    box-shadow:black 2px 2px 3px;
    
}

/* 導覽列右邊區塊 */
.header-r{
    display: flex;
    align-items: center;
}

.header-r text{
    padding-right: 20px;
}

.member-info {
    display: flex;
    align-items: center;
}

.member-image {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
}

.member-image:after {
    display: block;
    padding-bottom: 100%;
}

.member-image img {
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.member-info label {
    font-size: 14px;
    margin: 0 20px 0 10px;
    color: white;
}

.register-btn{
    width: 110px;
    height: 27px;
    background-color: #FFD900;
    border: 0px;
    color: black;
    cursor: pointer;
}

/***** Header END *****/



/***** Container START *****/
.container {
    position: relative;
    width: 80vw;
    margin: 0 auto;
    min-width: 1000px;
    max-width: 1600px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.title {
    margin-bottom: 60px;
    border-bottom: 4px solid #FFD900;
    width: 17vw;
    text-align: center;
    font-size: 40px;
}

.content {
    width: 80vw;
    display: flex;
    justify-content: center;
}


/* 經歷管理 */
.works-data {
    width: 65vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.conditionBlock {
    display: flex;
    width: 65vw;
    flex-direction: column;
    justify-content: space-between;
}

.conditionBlock .dropdown {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.conditionBlock .company-dropdown {
    width: 30vw;
    height: 40px;
    outline: none;
    border: 0;
    border-radius: 9px;
    background-color: #5F6573;
    color: white;
    font-size: 15px;
    padding-left: 10px;
    padding-right: 10px;
}

.conditionBlock .status {
    width: 10vw;
    height: 40px;
    outline: none;
    border: 0;
    border-radius: 9px;
    background-color: #5F6573;
    color: white;
    font-size: 15px;
    padding-left: 10px;
    padding-right: 10px;
}

.conditionBlock .intern {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 32vw;
    height: 40px;
    outline: none;
    color: white;
}

.conditionBlock .intern label {
    margin-left: 5px;
    margin-right: 15px;
    font-size: 17px;
}

/* 搜尋列 */
.search {
    width: 65vw;
    height: 40px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

::placeholder {
    color: rgb(212, 212, 212);
    font-size: 15px;
}

.searchBox {
    width: 65vw;
    height: 40px;
    outline: none;
    border: 0;
    border-radius: 9px;;
    background-color: #5F6573;
    color: white;
    padding-left: 10px;
    padding-right: 40px;
}

.searchbtn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: rgba(255, 255, 255, 0);
    border: 0;
    cursor: pointer;
}

.searchbtn img {
    width: 23px;
}

.works {
    display: flex;
    justify-content: space-between;
    width: 65vw;
    margin-top: 20px;
    flex-flow: row wrap;
}

.row {
    display: flex;
    width: 65vw;
    justify-content: space-between;
    margin-bottom: 15px;
}

.work {
    /* margin-right: 1vw; */
    /* margin-bottom: 2px; */
    justify-content: flex-end;
    display: flex;
    width: 32vw;
    height: 200px;
    background-color: #4A5065;
    margin-bottom: 15px;
    cursor: pointer;
}

.create {
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.5;
}

.create img {
    width: 5vw;
    opacity: 0.5;
}

.personal {
    display: flex;
    width: 32vw;
    align-items: center;
}

.person-image {
    display: block;
    width: 8vw;
    height: 8vw;
    min-width: 8vw;
    min-height: 8vw;
    max-width: 10vw;
    max-height: 10vw;
    margin: 50px 30px 50px 30px;
    border-radius: 50%;
    overflow: hidden;
}

.person-image:after {
    display: block;
    padding-bottom: 100%;
}

.person-image img {
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.edit-btn {
    position: absolute;
    display: block;
    width: 30px;
    height: 30px;
    margin: 5px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
    float: right;
}

.edit-btn:after {
    display: block;
    padding-bottom: 100%;
}

.edit-btn img {
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.t-main {
    font-size: 1.3vw;
    font-weight: bold;
    padding-bottom: 10px;
}

.t-title {
    display: flex;
    justify-content: flex-end;
    padding-bottom: 10px;
    font-size: 1vw;
}

.t-title img {
    width: 1.5vw;
    margin-right: 0.5vw;
}

.t-content {
    padding-bottom: 10px;
    font-size: 1vw;
}

span {
    font-size: 1.1vw;
}


/* 公司管理 */
.content-company {
    width: 80vw;
    display: flex;
    justify-content: center;
}

.companies-data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.companies {
    display: flex;
    flex-direction: column;
    width: 55vw;
    height: 400px;
    background-color: #4A5065;
    overflow: auto;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.companies::-webkit-scrollbar {
    width: 5px;
}

.companies::-webkit-scrollbar-track{
    background: rgba(255, 255, 255, 0);
}

.companies::-webkit-scrollbar-thumb{
    background: white;
}

.company {
    display: flex;
    width: 50vw;
    /* height: 75px; */
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.company-edit {
    width: 40vw;
    max-width: 400px;
    height: 40px;
    outline: none;
    border: 0;
    border-radius: 9px;;
    background-color: #858B99;
    color: white;
    padding: 10px;
    font-size: 18px;
}

.del-btn {
    display: block;
    width: 40px;
    height: 40px;
    margin-left: 40px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}

.del-btn:after {
    display: block;
    padding-bottom: 100%;
}

.del-btn img {
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.bottom-btn {
    display: flex;
    width: 25vw;
    justify-content: space-between;
    margin-top: 10px;
}

.save-btn {
    width: 10vw;
    height: 30px;
    background-color: #FFD900;
    border: 0px;
    font-size: 18px;
    cursor: pointer;
}

.cancel-btn {
    width: 10vw;
    height: 30px;
    background-color: #4A5065;
    border: 0px;
    color: white;
    font-size: 18px;
    cursor: pointer;
}




