* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Helvetica Neue", "Helvetica", 
        "Arial","Microsoft JhengHei","微軟正黑體", "sans-serif";
}

body {
    background-color: #393F4C;
}

.wrap {
    width: 100%;
    height: 100vh;
}

/***** Header START *****/
/* 有問題找王子瑜 */

header{
    width: 100%;
    align-content:flex-end;
    background-color: #4A5065;
    height: 70px;
    padding: 0px 13px 0px 13px;
    margin-bottom: 50px;
    box-shadow:black 0px 0px 4px;
    z-index: 200;
}
.top{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 1000px;
    max-width: 1600px; 
    margin: auto;
}

/* Logo */
.top img{
    width: 140px;
    position: relative;
    margin-right: 15px;
}

/* 導覽列 */
.top .list{
    display: flex;
    align-items: center;
    width: auto;
}
.top .topic{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    width: 120px;
    margin: auto 0;
    font-size: 18px;
    color: white;
    cursor: pointer;
}
.top .a-topic {
    height: 70px;
    /* bottom: 30px; */
}
.top a, .top a:link, .top a:visited {
    color: white;
    text-decoration: none;
}
.topic:hover {
    color: #FFD900;
}
.topic:hover > a {
    color: #FFD900;
}
.select {
    z-index: 5;
}
.select .dropdown {
    position: absolute;
    display: none;
}
.dropdown .topic {
    list-style: none;
    margin: 5px 0px 5px 0px;
}
.select:hover > .dropdown {
    display: flex;
    flex-direction: column;
    width: 130px;
    top: 70px;
    padding: 5px;
    background-color: #5F6573;
    background-color: #4A5065;
    box-shadow:black 2px 2px 3px;
    
}

/* 導覽列右邊區塊 */
.header-r{
    display: flex;
    align-items: center;
}

.header-r text{
    padding-right: 20px;
}

.member-info {
    display: flex;
    align-items: center;
}

.member-image {
    display: block;
    width: 40px;
    height: 40px;
    /* margin-right: 20px; */
    border-radius: 50%;
    overflow: hidden;
}

.member-image:after {
    display: block;
    padding-bottom: 100%;
}

.member-image img {
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.member-info label {
    font-size: 14px;
    margin: 0 20px 0 10px;
    color: white;
}

.register-btn{
    width: 110px;
    height: 27px;
    background-color: #FFD900;
    border: 0px;
    color: black;
    cursor: pointer;
}

/***** Header END *****/


/***** Container START *****/
.container {
    position: relative;
    width: 80vw;
    margin: 0 auto;
    min-width: 1000px;
    max-width: 1600px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.title {
    margin-bottom: 30px;
    border-bottom: 4px solid #FFD900;
    width: 17vw;
    text-align: center;
    font-size: 40px;
}

.content {
    width: 55vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}

.top-btn {
    width: 55vw;
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
    margin-bottom: 10px;
}

.edit-btn, .del-btn {
    display: block;
    width: 40px;
    height: 40px;
    margin: 5px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
    float: right;
}

.edit-btn:after, .del-btn:after {
    display: block;
    padding-bottom: 100%;
}

.edit-btn img, .del-btn img {
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.personal {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: 55vw;
    min-height: 24vw;
    background-color: #4A5065;
    padding: 4vw;
}

.personal-top {
    display: flex;
    justify-content: center;
}

.person-image {
    display: block;
    width: 13vw;
    height: 13vw;
    min-width: 12vw;
    min-height: 12vw;
    max-width: 13vw;
    max-height: 13vw;
    border-radius: 50%;
    overflow: hidden;
}

.person-image:after {
    display: block;
    padding-bottom: 100%;
}

.person-image img {
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.person-info table {
    display: flex;
    width: 33vw;
    margin-left: 2vw;
}

.personal .t-name {
    font-size: 40px;
    padding-bottom: 20px;
    font-weight: bold;
}

.personal .t-name span {
    font-size: 22px;
}

.personal .t-title {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    min-width: 100px;
    padding-bottom: 10px;
    padding-right: 5px;
    font-size: 18px;
}

.personal .t-content {
    width: 30vw;
    min-width: 200px;
    padding-bottom: 10px;
}

.big-content {
    line-height: 30px;
    word-break: break-all;
}

hr{
    border:1px solid #FFD900;
    margin-top: 20px;
    margin-bottom: 20px;
 }

.feedback {
    width: 47vw;
    word-break: break-all;
}

.feedback table {
    width: 47vw;
}

.feedback .f-title {
    display: flex;
    align-items: flex-start;
    width: 5vw;
}

.bottom-btn {
    width: 55vw;
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.back {
    width: 6vw;
    height: 30px;
    background-color: #FFD900;
    border: 0px;
    cursor: pointer;
}




/***** Container END *****/
